.devices{
    width: 96%;
}

ul {
    color: rgb(251 175 25);
    padding-top: 10px;
    list-style: none;
    padding-top: 5rem;
  
}

li {
    margin-bottom: 1rem;
}

.list_txt{
    font-weight: 800;
    padding-left: 20px;
    position: relative;
    font-size: 1rem;
  
}

.oval {
    width :2em
}



@media screen and (max-width: 991.98px){
    ul {
        padding-top: 2rem;
    }
    .oval{
        width: 1.5em;
    }

}
@media screen and  (max-width: 767.98px){
    .oval{
        width: 1em;
    }
}
