.images{
  width : 59%;
  margin-left: auto;
  margin-right: auto;
  margin-top : 4vh ;

}
.header{
  font-size: 3em;
  color: #fbaf19e6;;
  padding-top: 10vh;

}

.Img_container{
  text-align: center;
}
.even-columns{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  max-width: 100%;
  margin: 20px auto;
}
.header_txt{
  text-align: center;
}
.box{
  padding-top:9vh ;
}
