.images{
  width : 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top : 4vh ;

}
.header{
  font-size: 3em;
  color: #fbaf19e6;;
  padding-top: 10vh;

}

.Img_container{
  text-align: center;
}
.even-columns{
  display: grid;
  grid-auto-flow: column;
  column-gap: 10vw;
  grid-auto-columns: 1fr;
  max-width: 100%;
  margin: 30px auto;
}
.header_txt{
  text-align: center;
}
.box{
  padding-top:9vh ;
}
.text{
  text-align: center;
    padding-top: 3vh;
    font-size: 1.5vw;
    font-weight: 550;
}
.spacing{
 
  margin-bottom: 10vh; 
}

.navbar a:hover {
  border-radius: 50px;
  background: #fbaf19e6;;
}
.scroll-margin-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  display: block;
  z-index: 2;
  font-size: 14px;
  color: #333;
}
#Why {
  scroll-margin-top: -10rem;
}

